* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 70px;
  display: flex;
  /* background-color: blue; */
  padding: 20px 35px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  height: 40px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
}
.card--image {
  width: 100%;
  border-radius: 9px;
}
.card--stats {
  display: flex;
  align-items: center;
}
.card--star {
  height: 14px;
}

.gray {
  color: #918e9b;
}
